{% extends "main.html" %}

{% block content %}

<div class="detail">     
   <h1>{{note.title}}</h1>
   <div>{{note.body|safe}}</div> 
   <div style="display:flex;gap:15px">
      <a href="{% url "update" note.id %}" style="text-decoration:none; background-color:lightblue;padding: 2px 6px;">Edit</a>
      <form method="POST" action="{% url "delete" note.id %}">
         {% csrf_token %}
         <button type="submit" style="background-color: red; padding: 5px; color:white; font-size: 16px;cursor:pointer;" onclick="return confirm('Are you sure delete this note ?');">Delete</button>
      </form>
   </div>
 
</div>

{% endblock content %}
   
